.course-card{
    margin-bottom: 20px;
}

.deleteEditButton{
margin-top: 20px;
}
.edit-btn{
    background-color: rgb(216, 216, 37);
    color: black;
    margin-right: 20px;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 7px;
    border-style: none;
}
.delete-btn{
    background-color: rgb(189, 18, 18);
    color: white;
    border-radius: 7px;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 7px;
    border-style: none;
}