.dashboard{
    width: 100%;
    padding-left: 40px;
}
.dashboard-name{
  
    font-family: 'Raleway', sans-serif;
    font-weight: 200px;
}
.horizontal-line {
    width: 100%;
    border-top: 1px solid #000; 
    /* margin: 10px 0;  */
    padding-top: 20px;
  }
/* .published-name{
    font-family: 'Raleway', sans-serif; */
    /* padding-top: 20px;
} */
.list-group{
margin-bottom: 40px;
}
.addCourse{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.btn-course{
    size: 20px;
    border-radius: 6px;
    margin-right: 10px;
}
.form-control{
    flex: 1;
    margin-right: 10px;
}
.add{
    background-color:rgb(38, 112, 38) ;
    color: white;
}
.update{
    background-color:rgb(44, 44, 179);
    color: white;
}